html, body{
    margin: 0;
    height: 100%;
    
    background-color: #F4D04E;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: "Figtree";
    
    font-weight: 500;
    
    
    
}
.card{
    
    background-color: #FFFFFF;
    width: 384px;
    height: 474px;
    border-radius: 20px;
    padding: 24px;
    max-width: 336px;
    border: 1px solid;
    box-shadow: 10px 10px  black;
    
    

}
.content{
    margin-top: 24px;
    margin-bottom: 24px;
    max-width: 336px;
    font-weight: 800;
}

.subject{

    font-size: 14px;
}
.date{
    font-size: 14px;
    font-weight: 500;
    margin-top: 12px;
    margin-bottom: 12px;
}
.title{
    
    font-size: 24px;
    
    margin: 0;
    
    
}
.category{
    background-color: #F4D04E;
    border-radius: 4px;
    width: 82px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.description{
    
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    color: #7F7F7F;
    margin-top: 12px;
    


}

svg{
    border-radius: 10px;

}

.author{
    display: inline-flex;
    display: flex;
    align-items: center;
    
    font-size: 14px;
    font-weight: 800;
    
}